global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen postgres
    bind *:5000
    option httpchk
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server postgres-0 {{ service_to_internal_ip['postgres-0'] }}:5432 maxconn 100 check port 8008
    server postgres-1 {{ service_to_internal_ip['postgres-1'] }}:5432 maxconn 100 check port 8008
