scope: postgres
namespace: /db/
name: {{ inventory_hostname }}

restapi:
    listen: {{ inventory_hostname }}:8008
    connect_address: {{ inventory_hostname }}:8008

etcd3:
    host: {{ service_to_internal_ip['etcd'] }}:2379

bootstrap:
    dcs:
        ttl: 30
        loop_wait: 10
        retry_timeout: 10
        maximum_lag_on_failover: 1048576
        postgresql:
            use_pg_rewind: true

    initdb:
    - encoding: UTF8
    - data-checksums

    pg_hba:
    - host replication replicator 127.0.0.1/32 md5
    - host replication replicator {{ service_to_internal_ip['postgres-0'] }}/0 md5
    - host replication replicator {{ service_to_internal_ip['postgres-1'] }}/0 md5
    - host all all 0.0.0.0/0 md5

    users:
        admin:
            password: admin
            options:
                - createrole
                - createdb

postgresql:
    listen: {{ inventory_hostname }}:5432
    connect_address: {{ inventory_hostname }}:5432
    data_dir: /mnt/patroni
    pgpass: /tmp/pgpass
    authentication:
        replication:
            username: replicator
            password:
        superuser:
            username: postgres
            password:
    parameters:
        unix_socket_directories: '.'

tags:
    nofailover: false
    noloadbalance: false
    clonefrom: false
    nosync: false
